{% extends 'base.html' %} {% set active_page = "index" %} {% block head %}
<title>BankSys</title>
{% endblock %} {% block content %}
<div class="home-content">
  <h1 class="fw-bold">BankSys</h1>
  <p class="fs-4">
    Just a dummy website with database functionality, created for an internship
    under
    <a href="http://thesparksfoundation.info">TheSparksFoundation</a>
  </p>

  <!-- <div class="add-form">
    <form action="/" method="POST">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Password"
        />
        <label for="name" name="name">Name</label>
      </div>
      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="name@example.com"
        />
        <label for="email">Email address</label>
      </div>
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="balance"
          name="balance"
          placeholder="balance"
        />
        <label for="balance">Balance</label>
      </div>

      <button class="w-100 btn btn-lg btn-primary" type="submit">Add</button>
    </form>
  </div> -->
</div>
{% endblock %}
